
<div class="wrapper ">
    <app-sidebar></app-sidebar>
     <div class="main-panel">
       <!-- Navbar -->
      <app-topbar></app-topbar>
      <div class="content">
<h1>University</h1>
<input class="btn btn-sm btn-primary" type="button" value="ajout" routerLink="/university-add">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Site Officiel</th>
        <th scope="col">prix</th>
        <th scope="col">image</th>
        <th scope="col"></th>
        
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let university of universityList">
                        
            <td><a routerLink="/detail/{{university.id}}">{{university.name}}</a></td>
            
           
            <td><a href="{{university.url}}" target="_blank">{{university.url}}</a></td>
            <td>{{university.prix}}</td>
            <td><img width="100px" height="100px" src="{{university.image}}" alt=""> </td>
            
            <!--<td>{{university.formation[0].name}}<br>{{university.formation[1].name}}</td>-->
            <td><input class="btn btn-sm btn-primary" type="button" value="view" routerLink="/detail/{{university.id}}"></td>
            <td><input class="btn btn-sm " style="background-color: blueviolet;" type="button" value="update" routerLink="/university-update/{{university.id}}"></td>
            <td><button class="btn btn-sm btn-danger" (click)="deleteUniversity(university)">Delete</button></td>
            
           
          
          </tr>
      
     
      
    </tbody>
  </table>