<div class="sidebar" data-color="white" data-active-color="danger">
    <div class="logo">
      <a href="/dashboard" class="simple-text logo-mini">
       
          <img class="img-profile rounded-circle" src="assets/images/abdelakder.jpg"  width="30px" height="30px">
       
        <!-- <p>CT</p> -->
      </a>
      <a href="#" class="simple-text logo-normal">
        Abdelkader
        <!-- <div class="logo-image-big">
          <img src="../assets/img/logo-big.png">
        </div> -->
      </a>
    </div>
    <div class="sidebar-wrapper">
      <ul class="nav">
        <li class="active ">
          <a routerLink='/dashboard'>
            <i class="fa fa-tachometer" aria-hidden="true"></i>
            <p>Dashboard</p>
          </a>
        </li>
        <li >
          <a routerLink='/university'>
            <i class="fa fa-university" aria-hidden="true"></i>
            <p>Gestion university</p>
          </a>
          
        </li>
        
        <li>
          <a href="#">
            <i class="fa fa-book" aria-hidden="true"></i>
            <p>Gestion formation</p>
          </a>
        </li>
        
        
      </ul>
    </div>
  </div>